<!DOCTYPE html>
<html>
    <head>
        <title>Request Counter - Main Page</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="icon" type="image/png" href="/static/images/tardis.png">
    </head>
    <body>
        <a href='/request-counter'><button>Get request</button></a>
        <form action='/request-counter', method="POST">
            <input type="submit" value="Post request" class="btns">
        </form>
        <p><a href="/statistics">Statistics for requests</a></p>
    </body>
</html>