<!DOCTYPE html>
<html>
    <head>
        <title>Request Counter - Statistics</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="icon" type="image/png" href="/static/images/tardis.png">
    </head>
    <body>
        <h3>HTTP requests since last server restart</h3>
        <table>
            <tr>
                <td>Method</td>
                <td>Count</td>
            </tr>
            {% for key in stats.keys() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ stats[key] }}</td>
                </tr>
            {% endfor %}
        </table>
        <a href='/'><button>Back</button></a>
    </body>
</html>